@font-face {
    font-family: "Roboto";
    src: url(../fonts/roboto.ttf);
}

body {
    font-family: "Roboto";
}

h1 {
    font-size: calc(100vw * 0.05);
    text-align: center;
    margin: 0;
}

h3 {
    font-size: calc(100vw * 0.02);
}

.left-border-radius {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.right-border-radius {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(200, 200, 200, .2);
}

.header-img {
    width: 100%;
    height: 100vh;
}

.header-img .background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.header-img .inscription {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 128, 0, .15);
}

.header-img .inscription .centering {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: lightgoldenrodyellow;
}

.header-img .inscription .centering img {
    max-width: 803px;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.introduction {
    width: 100%;
    background: url(../img/background.jpg) center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction .info-card {
    width: 80vw;
    z-index: 1;
}

.introduction .info-card .paragraph {
    background: rgba(255, 255, 255, .9);
    -webkit-box-shadow: 0 0 20px 0 rgb(70, 147, 102);
    -moz-box-shadow: 0 0 20px 0 rgb(70, 147, 102);
    box-shadow: 0 0 20px 0 rgb(70, 147, 102));
    margin: 50px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.introduction .info-card .paragraph p {
    margin: 0 10px;
}

.introduction .info-card .paragraph img {
    object-fit: cover;
    width: 50%;
}

footer {
    background: #069266;
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

footer .wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

footer .wrapper .logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .wrapper .logo img {
    width: 90%;
}

footer .wrapper .imprint {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .wrapper .imprint .list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}

footer .wrapper .imprint .list div {
    font-size: calc(100vw * 0.015);
}

footer .wrapper .imprint .list * {
    margin: 10px 0;
}

footer .wrapper .imprint .list .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .wrapper .imprint .list .links div {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .wrapper .imprint .list .links div img {
    width: 100px;
}

@media screen and (max-width: 1024px) {

    .introduction .info-card {
        width: 100vw;
    }

    .header-img .inscription .centering img {
        width: 80%;
    }

    footer .wrapper .imprint .list {
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .introduction .info-card {
        width: 100vw;
    }

    .introduction .info-card .paragraph {
        margin: 10px 5px;
        -webkit-box-shadow: 0 0 3px 1px rgb(70, 147, 102);
        -moz-box-shadow: 0 0 3px 1px rgb(70, 147, 102);
        box-shadow: 0 0 3px 1px rgb(70, 147, 102));
    }
}

@media screen and (max-width: 600px) {
    h3, footer .wrapper .imprint .list div {
        font-size: 15px;
        text-align: center;
    }

    .header-img .inscription .centering {
        justify-content: center;
    }

    .left-border-radius {
        border-bottom-right-radius: 0;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
    }

    .right-border-radius {
        border-bottom-right-radius: 0;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
    }

    .introduction .info-card .paragraph {
        flex-direction: column;
        justify-content: space-around;
    }

    .introduction .info-card .paragraph:nth-child(even) {
        flex-direction: column-reverse;
    }

    .introduction .info-card .paragraph img {
        width: 100%;
    }

    .introduction .info-card .paragraph p {
        margin: 10px;
    }

    footer {
        min-height: 100vh;
    }

    footer .wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    footer .wrapper .imprint .list {
        padding: 0;
    }

}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 20px;
    }

}

