.about-as {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.about-as .left-side {
  flex: 1 1 0;
  width: 50vw;
  /*background: url(../img/table_for_white_back.svg) center center;*/
  background-size: 1000px 1000px;
}
