.contacts {
  background: #454545;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-end;
  color: #ffffff;
  padding-top: 120px;
}

.contacts .left-side {
  width: 50vw;
  /*background: url(../img/table_for_white_back.svg) center center;*/
  background-size: 1000px 1000px;
}

.contacts .form-block {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.contacts .form-block p {
  width: 100%;
  margin-bottom: 60px;
}

.form-block .imprint {
  width: 30%;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.form-block form {
  width: 50%;
}

.imprint > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 22px 0;
}

.imprint > div img {
  height: 20px;
  margin: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms {
  background-color: #484848;
  width: 90%;
  padding: 25px;

}

.control {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 25px 0;
}

.control > * {
  display: inline-block;
  width: 90%;
}

.control textarea, .control input {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #ffffff;
  color: #ffffff;
  padding: 14px 5px;
  transition: all .2s ease-in-out;
}

input[type='submit'] {
  width: 230px;
  height: 50px;
  border: none;
  text-transform: uppercase;
  margin: 30px 0;

  color: #ffffff;
  background: #6dcc98;
  background: -moz-linear-gradient(-45deg, #6dcc98 0%, #26ba69 64%, #26ba69 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #6dcc98), color-stop(64%, #26ba69), color-stop(100%, #26ba69));
  background: -webkit-linear-gradient(-45deg, #6dcc98 0%, #26ba69 64%, #26ba69 100%);
  background: -o-linear-gradient(-45deg, #6dcc98 0%, #26ba69 64%, #26ba69 100%);
  background: -ms-linear-gradient(-45deg, #6dcc98 0%, #26ba69 64%, #26ba69 100%);
  background: linear-gradient(135deg, #6dcc98 0%, #26ba69 64%, #26ba69 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6dcc98', endColorstr='#26ba69', GradientType=1);
}

input:active, input:focus{
  outline: none;
}

.control textarea:focus, .control input:focus {
  outline: none;
  border-bottom: solid 1px #22c05b
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  margin: 20px;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffffff;
}


