header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;

  color: #ffffff;
  background: #6dcc98;
  background: -moz-linear-gradient(-45deg, #6dcc98 0%, #26ba69 64%, #26ba69 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #6dcc98), color-stop(64%, #26ba69), color-stop(100%, #26ba69));
  background: -webkit-linear-gradient(-45deg, #6dcc98 0%, #26ba69 64%, #26ba69 100%);
  background: -o-linear-gradient(-45deg, #6dcc98 0%, #26ba69 64%, #26ba69 100%);
  background: -ms-linear-gradient(-45deg, #6dcc98 0%, #26ba69 64%, #26ba69 100%);
  background: linear-gradient(135deg, #6dcc98 0%, #26ba69 64%, #26ba69 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6dcc98', endColorstr='#26ba69', GradientType=1);
}



header .inscription {
  display: flex;
  flex: 2 1 0;
  width: 100%;
  margin-top: 85px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inscription h1 {
  transform: translateX(10%);
  margin-left: 10%;
  font-size: 40pt;
  text-transform: uppercase;
}

.inscription p {
  transform: translateX(20%);
}

header .main-photo {
  display: flex;
  flex: 3 1 0;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

header .main-photo .img {
  z-index: 1;
  margin-top: 85px;
  height: calc(100vh - 85px);
  width: 100%;
  background: url(../../img/main_photo.svg) no-repeat center center;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
  -webkit-box-shadow: -15px 0px 50px -8px rgba(0, 0, 0, 0.75);
  /*-moz-box-shadow: -15px 0px 50px -8px rgba(0,0,0,0.75);*/
  /*box-shadow: -15px 0px 50px -8px rgba(0,0,0,0.75);*/
}

header .arrow-down {
  position: absolute;
  bottom: 45px;
  width: 30px;
  height: 15px;
  -webkit-animation: down-arrow-animation .5s ease-in-out .2s infinite;
  -o-animation: down-arrow-animation .5s ease-in-out .2s infinite;
  animation: down-arrow-animation .5s ease-in-out .2s infinite;
}
