.our-team {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  height: 800px;
}

.our-team .article-wrapper {
  position: absolute;
  left: 0;
  transform: translateY(-100%) translateX(50%);
}

.our-team .green-wrapper {
  background: #28C56E;
  width: max-content;
  /*width: 80%;*/
  /*height: 800px;*/
  padding: 2px 0 0 0;
  transform: rotate(45deg) scale(2) translateY(-3%) translateX(45%);
  display: flex;
  justify-content: start;
  align-items: flex-end;
  flex-wrap: wrap;
}

.our-team .container {
  width: 100%;
  height: 100%;
  transform: translateX(0);
}

:root {
  --counter: 1;
}

.green-wrapper .image-block {
  /*transform: rotate(45deg);*/
  opacity: 0.95;
  overflow: hidden;
  z-index: 0;
  transition: all .2s ease-in-out;
}

.green-wrapper .image-block .information {
  opacity: 0;
  -webkit-clip-path: polygon(100% 100%, 0 100%, 100% 0);
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
  height: 100%;
  width: 100%;
  /*display: none;*/
  visibility: hidden;
  background: rgba(255, 255, 255, .75);
  position: absolute;
  top: 0;
  /*z-index: -3;*/
  z-index: calc(var(--counter) + 2);
  transition: all .2s, z-index 0s step-start, visibility .2s;
}

.green-wrapper .image-block:hover .information {
  opacity: 1;
  visibility: visible;
  /*z-index: calc(var(--counter) + 2);*/
  transition: all .2s, z-index 0s step-end;
}

.information .text {
  transform: rotate(-45deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.information .text > * {
  width: 200px;
  margin: 0;
  padding: 0;
  transform: scale(0.4);
}

.green-wrapper .image-block:hover {
  /*transform: scale(1.6);*/
  /*transition: all .5s;*/
  /*animation: zoom .25s line;*/
  opacity: 1;
  transition: all .2s ease-in-out, z-index step-start, z-index .25s step-end, z-index step-start;
  counter-increment: --counter;
  /*--counter: calc(var(--counter) + 1);*/
  z-index: var(--counter);
}

.hover-left-bottom:hover {

  /*animation: hover-left-bottom .5s;*/

  -webkit-transform: scale(1.6) translate3d(18.5%, -18.5%, 0);
  -moz-transform: scale(1.6) translate3d(18.5%, -18.5%, 0);
  -ms-transform: scale(1.6) translate3d(18.5%, -18.5%, 0);
  -o-transform: scale(1.6) translate3d(18.5%, -18.5%, 0);
  transform: scale(1.6) translate3d(18.5%, -18.5%, 0);
}

.hover-bottom:hover {
  -webkit-transform: scale(1.6) translate3d(-18.5%, -18.5%, 0);
  -moz-transform: scale(1.6) translate3d(-18.5%, -18.5%, 0);
  -ms-transform: scale(1.6) translate3d(-18.5%, -18.5%, 0);
  -o-transform: scale(1.6) translate3d(-18.5%, -18.5%, 0);
  transform: scale(1.6) translate3d(-18.5%, -18.5%, 0);
}

.hover-right-bottom:hover {
  -webkit-transform: scale(1.6) translate3d(-18.5%, 18.5%, 0);
  -moz-transform: scale(1.6) translate3d(-18.5%, 18.5%, 0);
  -ms-transform: scale(1.6) translate3d(-18.5%, 18.5%, 0);
  -o-transform: scale(1.6) translate3d(-18.5%, 18.5%, 0);
  transform: scale(1.6) translate3d(-18.5%, 18.5%, 0);
}

.hover-left:hover {
  -webkit-transform: scale(1.6) translate3d(18.5%, 0, 0);
  -moz-transform: scale(1.6) translate3d(18.5%, 0, 0);
  -ms-transform: scale(1.6) translate3d(18.5%, 0, 0);
  -o-transform: scale(1.6) translate3d(18.5%, 0, 0);
  transform: scale(1.6) translate3d(18.5%, 0, 0);
}

.hover-center:hover {
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
}

.green-wrapper .image-block img {
  width: 100px;
  height: 100px;
  transform: rotate(-45deg) scale(1.5)
}

.color-block {
  z-index: -2;
  width: 100px;
  height: 100px;
  overflow: hidden;
}


@media screen and (min-width: 1024px) {
  .our-team .article-wrapper {
    transform: translateY(-100%) translateX(5%);
  }

  .our-team .container {

    transform: translateX(-55%);
  }
}

@media screen and (min-width: 1080px) {
  .our-team .article-wrapper {
    transform: translateY(-100%) translateX(10%);
  }

  .our-team .container {

    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1180px) {

  .our-team .article-wrapper {
    transform: translateY(-100%) translateX(20%);
  }

  .our-team .container {

    transform: translateX(-35%);
  }
}

@media screen and (min-width: 1280px) {

  .our-team .article-wrapper {
    transform: translateY(-100%) translateX(10%);
  }

  .our-team .container {

    transform: translateX(-25%);
  }
}

@media screen and (min-width: 1366px) {
  .our-team .article-wrapper {
    transform: translateY(-100%) translateX(15%);
  }
  .our-team .container {

    transform: translateX(-20%);
  }
}

@media screen and (min-width: 1440px) {
  .our-team .article-wrapper {
    transform: translateY(-100%) translateX(70%);
  }
  .our-team .container {

    transform: translateX(-20%);
  }
}

@media screen and (min-width: 1500px) {
  .our-team .article-wrapper {
    transform: translateY(-100%) translateX(70%);
  }
  .our-team .container {

    transform: translateX(-7%);
  }
}

@media screen and (min-width: 1800px) {
  .our-team .article-wrapper {
    transform: translateY(-100%) translateX(90%);
  }
  .our-team .container {

    transform: translateX(0);
  }
}

@media screen and (min-width: 1980px) {
  .our-team .article-wrapper {
    transform: translateY(-100%) translateX(100%);
  }
  .our-team .container {

    transform: translateX(5%);
  }
}
