.solutions {
  padding: 120px 0;
}

.solutions .content {
  padding: 0 10%;
}


.solution-block {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.solution-block img {
  height: 70px;
}

.margin-top-block {
  margin-top: 100px;
}
