.technologies {
  padding: 120px 0;
}

.technologies .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  padding: 0 5%;
}


.icons-blocks-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.icons-blocks-wrapper .icon-block img {
  width: 80px;
  height: 80px;
  /*-webkit-filter: url(#monochrome) saturate(0.10);*/
  /*filter: url(#monochrome)  saturate(0.10);*/
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: -webkit-filter ease .6s, filter ease .6s;
  -webkit-transition: all .6s ease;
  -webkit-backface-visibility: hidden;
  /*transition: filter 0.5s;*/
}

.icons-blocks-wrapper .icon-block img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.text-blocks-wrapper {
  width: 82%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.text-blocks-wrapper .text-block img {
  height: 35px;
  transition: -webkit-filter ease .6s, filter ease .6s;
  -webkit-transition: all .6s ease;
  -webkit-backface-visibility: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

}

.text-blocks-wrapper .text-block img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}
