.gray-bg {
  background: #fafafa;
}
.green-0 {
  background-color: #28C56E;
}

.green-1 {
  background-color: #26BA68;
}

.green-2 {
  background-color: #25B465;
}

.green-3 {
  background-color: #22A65D;
}

.green-4 {
  background-color: #1F9352;
}

.green-5 {
  background-color: #21A15A;
}

.green-6 {
  background: #209C57;
}
