/*elements*/
.article-wrapper {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.article-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin: 0 0 80px 0;

}

.article-title h2 {
  font-size: 30pt;
  margin: 0 0 15px 0;
}

.article-title .underscore {
  width: 85px;
  height: 3px;
  background: #26ba68;
}
