@font-face {
  font-family: 'OSregular';
  src: url('../fonts/OSregular.eot');
  src: url('../fonts/OSregular.eot') format('embedded-opentype'),
  url('../fonts/OSregular.woff2') format('woff2'),
  url('../fonts/OSregular.woff') format('woff'),
  url('../fonts/OSregular.ttf') format('truetype'),
  url('../fonts/OSregular.svg#OSregular') format('svg');
}

@font-face {
  font-family: 'OSSemibold';
  src: url('../fonts/OSSemibold.eot');
  src: url('../fonts/OSSemibold.eot') format('embedded-opentype'),
  url('../fonts/OSSemibold.woff2') format('woff2'),
  url('../fonts/OSSemibold.woff') format('woff'),
  url('../fonts/OSSemibold.ttf') format('truetype'),
  url('../fonts/OSSemibold.svg#OSSemibold') format('svg');
}

@font-face {
  font-family: 'OSBold';
  src: url('../fonts/OSBold.eot');
  src: url('../fonts/OSBold.eot') format('embedded-opentype'),
  url('../fonts/OSBold.woff2') format('woff2'),
  url('../fonts/OSBold.woff') format('woff'),
  url('../fonts/OSBold.ttf') format('truetype'),
  url('../fonts/OSBold.svg#OSBold') format('svg');
}

.bold {
  font-family: 'OSBold';
}

.semibold {
  font-family: 'OSSemibold';
}

.regular {
  font-family: 'OSregular';
}
