body {
  font-family: 'OSregular';
  overflow-x: hidden;
}

p {
  font-size: 18pt;
  margin: 0;
}

h3 {
  text-transform: uppercase;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: #4f4f4f;
}

.text-center {
  text-align: center;
}

.top-menu {
  position: fixed;
  height: 85px;
  width: 100%;
  /*padding: 0 20%;*/
  background-color: white;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.top-menu .menu-wrapper {
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 8%;
}

.top-menu .menu-wrapper img {
  height: 60px;
}

.menu-wrapper .menu-block {
  width: 100%;
  color: #4f4f4f;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.menu-block > a {
  margin-left: 40px;
}

.active {
  color: #26ba68!important;
}

.wrapper {
  color: #444445;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
}

@media screen and (max-width: 1280px) {
  .top-menu .menu-wrapper {
    margin: 0 5%;
  }

  .menu-block > a {
    margin-left: 20px;
  }
}

